@import "node_modules/bootstrap/scss/bootstrap";
$background-color: #fef6e4;
$primary-color: #f76c5e;
$secondary-color: #f2994a;
$text-color: #2d2d2a;
$button-hover-color: #d1495b;
$soft-primary-color: #f89c83;

body {
  background-color: $background-color;
  font-family: "Assistant", sans-serif;
  color: $text-color;
}

.custom-navbar {
  background-color: $soft-primary-color;
  .navbar-brand,
  .nav-link {
    color: $text-color;
  }

  .nav-link {
    &:hover {
      color: #c44d37;
    }
  }
}

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
  &:hover {
    background-color: $button-hover-color;
    border-color: $button-hover-color;
  }
}

a {
  color: $secondary-color;
  &:hover {
    color: $button-hover-color;
  }
}

.wsdalex {
  font-family: "Press Start 2P", cursive;
  letter-spacing: 0.05em;
}

h1 {
  font-weight: 700;
}
.full-height {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
html {
  scroll-behavior: smooth;
}

h2 {
  font-weight: 600;
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.navbar-animation {
  animation: slideInRight 0.5s ease forwards;
}

.skills {
  background-color: $secondary-color;
}

.accordion-button {
  background-color: $background-color;
  color: $text-color;
}

.accordion-button:not(.collapsed) {
  background-color: $soft-primary-color;
}
.accordion {
  --bs-accordion-btn-focus-box-shadow: none;
}
.accordion-item {
  background-color: $background-color;
}

.card-body {
  background-color: $background-color;
}
.card-title {
  font-weight: 600;
}
.section {
  padding-top: 80px;
  margin-top: -80px;
}

.list-group-item {
  background-color: $background-color;
}
